body::-webkit-scrollbar {
    display: none;
}

.flex {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.item {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid blue;
    transition: transform 0.4s ease;
}

.item img:hover {
    transform: scale(1.1);
}